<div class="fixed bottom-0 right-0 flex flex-col justify-center items-center h-72 w-72 rounded-t-full rounded-l-full bg-violet-600 text-white">
  <div class="flex flex-col">
    <h2 class="font-main font-bold text-lg text-slate-800 text-center">Developed By</h2>
    <div class="flex flex-row pt-5">
      <span>
        <h2 class="font-main font-bold text-xl text-white">Stefan Talbot</h2>
        <h3 class="font-main font-bold text-md text-slate-800">gihub/TeaBizzy</h3>
      </span>
      <img src="https://avatars.githubusercontent.com/u/111951212?v=4" class="w-16 rounded-full ring-slate-800 ring-4 ring-offset-0 ml-4">
    </div>
  </div>
</div>
