<div class="w-screen flex justify-center">
  <div class="bg-violet-500 my-12 w-1/2 rounded-md py-6 flex flex-col justify-start items-center">
    <h1 class="font-main font-bold text-3xl text-white">Want to update your website?</h1>
    <h3 class="font-main font-bold text-xl text-slate-800">Contact an available developer below!</h3>
    <ng-container *ngFor="let dev of developers">
      <app-dev-contact class="w-full flex justify-center" [img]="dev.img" [name]="dev.name" [email]="dev.email" [phone]="dev.phone"></app-dev-contact>
    </ng-container>
  </div>
</div>

